*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.Image_Logo {
    display: flex;
    justify-content: center;
    width: 290px;
    height: 130px;
    margin-top: 530px;
    transform: rotate(-47deg);
}

.textos_ini{
    transform: rotate(-45deg);
    color: #fff;
    position: absolute;
    text-align: right;
    right: 35%;
    top: 60%;


}

.textos_ini, h1{
    font-size: 45px;
}

h5{
    font-size: 20px;
    padding-top: 30px;
}


.fondo_B{
    background: url(/img/fondo-2.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.pantalla_Obs{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    padding-top: 15px;
    float: right;
    line-height: 20px;
}
.container .menu a{
    display: inline-block;
    padding: 25px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 15px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}



/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(77, 160, 255, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #ffffff;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #000000;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #000000;
    background: #b8deff;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    padding-top: auto;
  }
  
  li:hover,
  li:focus-within {
    background: rgba(21, 132, 230, 0.494);
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    background: rgba(255, 255, 255, 0.113);
    
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    
     visibility: visible;
     display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }